# =========================
# R / RStudio
# =========================
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# =========================
# Environment / Workspace
# =========================
.Renviron

# =========================
# R Markdown / Cache
# =========================
*_cache/
*_files/

# =========================
# PDF / DOCX (보고서 제출용 제외)
# =========================
*.pdf
*.docx
*.pptx

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
ehthumbs.db